a {
  color: red;
  text-decoration: underline;
	/* background-color: black; */
  /* color: white; */
	font-size: 1.5em;
	padding: 0.5em;
	margin-top: 1em;
}

a:hover {
		text-decoration: underline;
		cursor: pointer;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

a.title {
		background-color: black;
		color:white;
		padding: 0.5em;
		font-size: 5em;
		font-weight: bold;
}

.header {
		margin-bottom: 100px;
}

.github-link {
	font-size: 1em;
	margin: 0px;
	padding: 0px;
  text-decoration: underline;
}

.about-title {
		font-size: 2em;
		font-weight: bold;
}

.about {
		margin-bottom: 60px;
		font-size: 1.5em;
		width: 700px;
}

.docs-link-list {
		font-size: 2em;
}


.list-title {
	font-size: 2em;
	font-weight: bold;
}

/* Non-Demo Styles */
body {
	font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 5em;
	background-color: #FFC30B;
	color: black;
}
